/*燈號區塊*/
#LightBox {
	width: 30%;
	margin-right: 5%;
	height: 100%;
	float: left;
	padding-top: 50px;
}
#LightBox .LightBox_div{
	width:200px;
	height: 200px;
	margin:auto;
}
/*底色*/
#LightBox .LightBox_background{
	width:200px;
	height: 200px;
	background-color: #2b3b47;
	padding: 40px;
	border-radius: 10px;
	-moz-box-shadow:4px 4px rgba(20%,20%,40%,0.5);
	-webkit-box-shadow:4px 4px rgba(20%,20%,40%,0.5);
	box-shadow: 0 8px rgba(20%,20%,40%,0.5);
	position: relative;
}
#LightBox .LightBox_nail_1{
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	margin: 10px;
	border-radius: 50%;
	background-color: #b7b7b7;
	z-index: 2;
}
#LightBox .LightBox_nail_2{
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 10px;
	margin: 10px;
	border-radius: 50%;
	background-color: #b7b7b7;
	z-index: 2;
}
#LightBox .LightBox_nail_3{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 10px;
	height: 10px;
	margin: 10px;
	border-radius: 50%;
	background-color: #b7b7b7;
	z-index: 2;
}
#LightBox .LightBox_nail_4{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 10px;
	height: 10px;
	margin: 10px;
	border-radius: 50%;
	background-color: #b7b7b7;
	z-index: 2;
}
/*燈號顯示圓_綠色*/
#LightBox .LightBox_circleG_before{
	width: 200px;
	height: 200px;
	background-color: #00cca6;
	border-radius: 50%;
	z-index: 3;
	-moz-box-shadow:inset 20px -20px rgba(40%,40%,40%,0.5);
	-webkit-box-shadow:inset 20px -20px rgba(40%,40%,40%,0.5);
	box-shadow:inset 20px -20px rgba(40%,40%,40%,0.5);
}
#LightBox .LightBox_circleG_after{
	width: 200px;
	height: 200px;
	background-color: #009e83;
	border-radius: 50%;
	z-index: 3;
	-moz-box-shadow:inset 20px -20px rgba(40%,40%,40%,0.5);
	-webkit-box-shadow:inset 20px -20px rgba(40%,40%,40%,0.5);
	box-shadow:inset 20px -20px rgba(40%,40%,40%,0.5);
}
/*燈號顯示圓_黃色*/
#LightBox .LightBox_circleY_before{
	width: 200px;
	height: 200px;
	background-color: #ffde75;
	border-radius: 50%;
	z-index: 3;
	-moz-box-shadow:inset 20px -20px rgba(40%,40%,40%,0.5);
	-webkit-box-shadow:inset 20px -20px rgba(40%,40%,40%,0.5);
	box-shadow:inset 20px -20px rgba(40%,40%,40%,0.5);
}
#LightBox .LightBox_circleY_after{
	width: 200px;
	height: 200px;
	background-color: #FFC300;
	border-radius: 50%;
	z-index: 3;
	-moz-box-shadow:inset 20px -20px rgba(40%,40%,40%,0.5);
	-webkit-box-shadow:inset 20px -20px rgba(40%,40%,40%,0.5);
	box-shadow:inset 20px -20px rgba(40%,40%,40%,0.5);
}
/*燈號顯示圓_紫色*/
#LightBox .LightBox_circleP_before{
	width: 200px;
	height: 200px;
	background-color: #9B59B6;
	border-radius: 50%;
	z-index: 3;
	-moz-box-shadow:inset 20px -20px rgba(40%,40%,40%,0.5);
	-webkit-box-shadow:inset 20px -20px rgba(40%,40%,40%,0.5);
	box-shadow:inset 20px -20px rgba(40%,40%,40%,0.5);
}
#LightBox .LightBox_circleP_after{
	width: 200px;
	height: 200px;
	background-color: #633974;
	border-radius: 50%;
	z-index: 3;
	-moz-box-shadow:inset 20px -20px rgba(40%,40%,40%,0.5);
	-webkit-box-shadow:inset 20px -20px rgba(40%,40%,40%,0.5);
	box-shadow:inset 20px -20px rgba(40%,40%,40%,0.5);
}
/*燈號顯示圓_紅色*/
#LightBox .LightBox_circleR_before{
	width: 200px;
	height: 200px;
	background-color: #C70039;
	border-radius: 50%;
	z-index: 3;
	-moz-box-shadow:inset 20px -20px rgba(40%,40%,40%,0.5);
	-webkit-box-shadow:inset 20px -20px rgba(40%,40%,40%,0.5);
	box-shadow:inset 20px -20px rgba(40%,40%,40%,0.5);
}
#LightBox .LightBox_circleR_after{
	width: 200px;
	height: 200px;
	background-color: #8c0028;
	border-radius: 50%;
	z-index: 3;
	-moz-box-shadow:inset 20px -20px rgba(40%,40%,40%,0.5);
	-webkit-box-shadow:inset 20px -20px rgba(40%,40%,40%,0.5);
	box-shadow:inset 20px -20px rgba(40%,40%,40%,0.5);
}


/*燈號文字區塊*/
#LightTxt {
	width: 60%;
	float: right;
	position:relative;
}
/*狀態title*/
#LightTxt .LightTxt_title{
	width:100%;
	font-size: 36px;
	font-weight: bold;
}
hr{
	position:absolute;
	left:0;
	width: 0;
}
hr.hr_extend{
	width: 90%;
	transition: 2s;
}
/*資料顯示表格*/
#LightTxt .LightTxt_tab{
	width: 80%;
	margin-top: 30px;
	font-size: 16px;
}
#LightTxt .LightTxt_tr{
	width: 100%;
	height: 26px;
	line-height: 26px;
	margin-bottom:40px;
}
#LightTxt .LightTxt_tr{
	width: 100%;
	height: 26px;
	line-height: 26px;
	margin-bottom:40px;
}
#LightTxt .LightTxt_tr{
	width: 100%;
	height: 26px;
	line-height: 26px;
	margin-bottom:40px;
}
#LightTxt_tr1, #LightTxt_tr2, #LightTxt_tr3, #LightTxt_tr4, #LightTxt_tr5, #LightTxt_tr6{
	opacity: 0;
	transition: 0.5s;
}
#LightTxt .LightTxt_th, #LightTxt .LightTxt_td{
	padding:2% 5%;
}
#LightTxt .LightTxt_th{
	width: 22%;
	float: left;
	background-color: #1b76a3;
	border-radius: 30px;
	text-align: center;
	color: #fff;
	margin-right: 3%; 
}
#LightTxt .LightTxt_td{
	width: 55%;
	float: right;
	background-color: #efefef;
	border-radius: 30px;
}





/*
#LightTxt .LightTxt_tab{
	width: 400px;
	margin-top: 20px;
}
#LightTxt .LightTxt_tab th, #LightTxt .LightTxt_tab td{
	padding: 10px;
}
#LightTxt .LightTxt_tab th{
	width: 40%;
	background-color: #1b76a3;
	color: #fff;
}
#LightTxt .LightTxt_tab td{
	width: 60%;
	background-color: #efefef;

}*/